node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
sscms-51853-firebase-adminsdk-fbsvc-9f9f6cc1f7.json
# Firebase secrets
*.json
firebase-adminsdk-*.json
src/config/*firebase-adminsdk*.json
/logs
logs